.container-8a1b661 {
    display: flex;
}

.title-8a1b661 {
    font-size: 2rem;
}

.common-8a1b661 {
    color: red;
}

.wrapper-336a207 {
    padding: 1rem;
}

.header-336a207 {
    font-weight: bold;
}

.common-336a207 {
    color: blue;
}