name: Tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      RUSTFLAGS: -D warnings

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run tests
        run: cargo test --all-features --locked

      - name: Install tools
        run: rustup component add clippy rustfmt

      - name: Clippy
        run: cargo clippy
        
      - name: Cargo fmt
        run: cargo fmt --all -- --check
